/*font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
i {
  opacity: 0.9;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
header {
  background-color: #303030;
}
span i {
  color: #fff;
}
.navbar-brand img {
  width: 100%;
  margin: auto;
}
.navbar-light .navbar-toggler {
  color: #fff;
  border-color: transparent;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem;
  color: #ff5900;
}
.navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 16px;
  margin-bottom: 7px;
  text-align: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.navbar-nav .nav-link:hover {
  color: #e85709;
}
.btn-outline-success {
  color: #e85709;
  border-color: #e85709;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid #e85709;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out;
  background-color: 0.15s ease-in-out;
  border-color: 0.15s ease-in-out;
  box-shadow: 0.15s ease-in-out;
}
.btn-outline-success:hover {
  background-color: #e85709;
  border: 2px solid #e85709;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/111.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 88vh;
}
.banner h1 {
  font-size: 80px;
  font-weight: 500;
  color: #fff;
  padding: 200px 0px 0px 40px;
  font-family: "Oswald", sans-serif;
}
.banner p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 0px 0px 20px 40px;
  font-family: "Montserrat", sans-serif;
}
.reeowicon i {
  position: absolute;
  color: #fff;
  top: 72%;
  left: 16%;
  transform: translateX(-84%);
  animation: updown 0.8s linear infinite;
}
@keyframes updown {
  0% {
    top: 72%;
  }
  100% {
    top: 75%;
  }
}
.btn-register {
  padding: 6px 30px;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e85709;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 0px 0px 0px 40px;
  border: 2px solid;
  font-family: "Oswald", sans-serif;
  transition: 0.3s all ease-in-out;
}
.btn-register:hover {
  box-shadow: 0px 0px 5px 5px #e85709;
  color: #fff;
  border: 2px solid #ffffff;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.dance {
  background-image: url(../images/backimage1.png);
  background-color: #e85709;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto;
  padding: 70px 0px 70px 0px;
  opacity: 1;
}
.tour h1,
.pricingone h1,
.Our-Statistics h1,
.subscription h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-family: "Oswald", sans-serif;
}
.tour p,
.picture p,
.pricingone p,
.pricingtow p,
.for-count p,
.image-content1 p,
.image-content2 p,
.Our-Statistics p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 0px 10px 15px 10px;
  font-family: "Montserrat", sans-serif;
}
.picture {
  width: 100%;
  background-color: #303030;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  padding: 5px;
}
.picture img {
  border-radius: 10px;
}
.picture h1,
.image-content1 h1,
.image-content2 h1,
.pricingtow h1 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  padding-top: 35px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
}
.font {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.font ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 85px;
}
.font ul li {
  width: 40px;
  height: 40px;
  border: 2px solid #ffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font ul li a {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 1px;
  color: #fff;
}
.imghover {
  position: relative;
}
.imghover:hover .font {
  opacity: 1;
  top: 50%;
}
.imghover:hover::before {
  opacity: 0.5;
  width: 50%;
}
.imghover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0%;
  right: 0%;
  background-color: #28a6fa;
  transition: 0.4s ease-in-out;
  opacity: 0;
  border-radius: 0px 10px 10px 0px;
}
.imghover:hover::after {
  opacity: 0.5;
  width: 50%;
}
.imghover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0%;
  top: 0%;
  background-color: #28a6fa;
  transition: 0.4s ease-in-out;
  opacity: 0;
  border-radius: 10px 0px 0px 10px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.digit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background\ 2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 0px 60px 0px;
}
.for-count {
  text-align: center;
  padding: 15px 0 5px 0px;
  margin: 30px 0px 0px 0px;
  border-radius: 10px;
  background-color: antiquewhite;
  transition: 0.4s all ease-in-out;
}
.for-count:hover {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.for-count:hover.for-count span {
  width: 30%;
}
.dance-img {
  padding: 20px 0px 20px 0px;
}
.for-count h4 {
  font-size: 40px;
  font-weight: 500;
  color: #121212;
}
.for-count span {
  display: block;
  width: 20%;
  height: 3px;
  background-color: #ff5900;
  margin: auto;
  border-radius: 100px;
  transition: 0.3s all ease-in-out;
  margin-bottom: 20px;
}
.for-count p {
  font-size: 15px;
  color: #000 !important;
  padding: 0px 10px 0px 10px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.pricing {
  background-color: #303030;
  padding: 70px 0px 70px 0px;
}
.pricingtow h1 {
  padding-top: 0px;
}
.pricingtow p {
  padding: 0px 10px 0px 10px;
}
.awards {
  width: 100%;
  background-color: #e85709;
  border: 1px solid #e85709;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  padding: 0px 10px 20px 10px;
  transition: 0.3s ease-in-out;
}
.awards:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.awards i {
  font-size: 120px;
  color: #fff;
  padding: 40px 0px;
}
.awards .tow {
  padding: 4px 0px;
  width: 65%;
  background-color: #303030;
  border: 1px solid #303030;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.perfrom {
  background-image: url(../images/backimage3png.png);
  background-color: #e85709;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
  padding: 50px 0px 40px;
}
.big-image {
  border-bottom: 2px solid transparent;
}
.chobi1 img,
.chobi2 img {
  width: 100%;
}
.image-content1,
.image-content2 {
  padding: 50px 40px 0px 0px;
}
.image-content1 h1,
.image-content2 h1 {
  padding-bottom: 20px;
}
.image-content1 p,
.image-content2 p {
  padding: 0px 0px 15px 0px;
}
.btn-readmore1,
.btn-readmore2 {
  background-color: #303030;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 30%;
  font-family: "Oswald", sans-serif;
}
.btn-readmore1:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 5px #3030305d;
  color: #fff;
}
.btn-readmore2:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 5px #3030305d;
  color: #fff;
}
.col-md-6 {
  padding-bottom: 5px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.Statistics {
  background-color: #303030;
  padding: 70px 0px 80px 0px;
}
.num-three {
  margin: 30px 0px 0px 0px;
}
.number {
  width: 80%;
  border: 10px solid #e85709;
  border-radius: 10px;
  margin: auto;
  padding: 60px 0px 50px 0px;
  transition: 0.3s all ease-in-out;
}
.number h1 {
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.number p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
.number:hover {
  box-shadow: 0px 0px 10px 10px #e85709;
  color: #fff;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.herbert {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/1111.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 85vh;
  padding: 100px 0px 0px 0px;
}
.simon p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  margin: 0px 0px 20px 30px;
}
.simon p span i {
  color: #fff;
  font-size: 100px;
}
.herbert h1 {
  color: transparent;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  position: relative;
  margin: 0px 20px 0px 25px;
  padding: 0px 10px 0px 0px;
}
.herbert h1::before {
  position: absolute;
  content: attr(data-text);
  width: 0%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  border-right: 4px solid #fff;
  animation: animation1 5s infinite;
}
@keyframes animation1 {
  0%,
  0% {
    width: 0%;
  }
  40%,
  50% {
    width: 100%;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.subscribe {
  background-color: #e85709;
  opacity: 0.6;
  padding: 70px 0px 70px 0px;
}
.subscription p {
  padding-bottom: 50px;
  padding-top: 30px;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
.inputone {
  padding-bottom: 150px;
}
.inputone input {
  padding: 6px 50px;
  border: none;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
}
input.btn-input {
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  transition: 0.3s all ease-in-out;
}
input.btn-input:hover {
  background-color: #303030;
  color: #fff;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.footer {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}
.footer h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
.footer p {
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
.social ul li:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
  background-color: #ff5900;
}
.social ul {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 0;
  margin: 0;
}
.social h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.social ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}
.social ul li a {
  color: #000;
  font-size: 24px;
}
.end-part {
  display: flex;
  justify-content: space-between;
}
.end-part ul {
  padding: 0;
  margin: 0;
}
.end-part ul li {
  list-style: none;
}
.end-part ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.end-part ul li a:hover {
  color: #ff5900;
  text-decoration: underline;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
